<div class="section section-hero">
  <div class="grid-hero container grid-lg text-center" id="overview">
    <h1>Ngx-easy-table</h1>
    <h2>
      The Easiest Angular Table. <br />
      <u>12kb gzipped</u>, <u>Tree-shakeable</u>, <u>55 features</u> and growing!
    </h2>
    <p>
      <a class="btn btn-primary btn-lg mr-2" [routerLink]="['/installation']">Configuration</a>
      <a
        class="btn btn-primary btn-lg"
        href="https://github.com/vincent-cholet/ngx-easy-table-plus/tree/master/src/app/demo/basic/basic.component.ts"
        target="_blank"
        >Demo code</a
      >
    </p>

    <div class="columns">
      <div class="column col-4 col-xs-12">
        <div class="card text-center">
          <div class="card-header"><span class="card-title">Lightweight</span></div>
          <div class="card-body">Lightweight (~12KB gzipped)</div>
        </div>
      </div>
      <div class="column col-4 col-xs-12">
        <div class="card text-center">
          <div class="card-header"><span class="card-title">Customizable</span></div>
          <div class="card-body">55 features and growing!</div>
        </div>
      </div>
      <div class="column col-4 col-xs-12">
        <div class="card text-center">
          <div class="card-header"><span class="card-title">Fast</span></div>
          <div class="card-body">Works with 60fps</div>
        </div>
      </div>
    </div>
  </div>
</div>
